<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{123,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,52}}</string>
                <key>sourceSize</key>
                <string>{123,52}</string>
            </dict>
            <key>blue_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,96},{229,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,193}}</string>
                <key>sourceSize</key>
                <string>{229,193}</string>
            </dict>
            <key>blue_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>green_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,291},{229,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,193}}</string>
                <key>sourceSize</key>
                <string>{229,193}</string>
            </dict>
            <key>green_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>red_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{229,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,193}}</string>
                <key>sourceSize</key>
                <string>{229,193}</string>
            </dict>
            <key>red_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stars.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb96f9f8c915ff10fcd9d33c1b266c9b:e27e3050ec0c415f823033427a017a20:a283aa680c40f7aba299fc6537de2290$</string>
            <key>textureFileName</key>
            <string>stars.png</string>
        </dict>
    </dict>
</plist>
